:root {
  --first-color-second: #fff;
  --secondary-color: #000;
  --body-color: #1e80f9;
}

.fillDetails {
  background-color: #f6f7f8;
  width: 100%;
}

.side_nav {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: var(--first-color-second);
  color: #000;
}
.side_child {
  height: 100%;
  box-shadow: 0 0 4px #0e0e0e;
  padding: 0 10px;
  /* width: 100%; */
}
.side_child ul {
  height: 100%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: all 0.4s;
}
.side_child ul li {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

.sidebar_label {
  display: flex;
  align-items: center;
  /* padding: 0.4rem 0rem; */
  transition: all 0.2s;
  margin: 10px 0;

  li {
    display: flex;
    width: max-content;
    align-items: center;

    padding: 0.4rem 1rem;
  }
  /* li.active {
      background-color: var(--first-color-second);
      color: var(--body-color);
    } */
  svg {
    font-size: 2rem;
  }
  p {
    display: none;
    margin: 0;
    margin-left: 1rem;
  }
}
.sidebar_label:hover {
  border-radius: 16px;
  background-color: var(--body-color);
  color: var(--first-color-second);
}
.sidebar_label .active {
  background-color: var(--body-color);
  color: var(--first-color-second);
  width: 100%;
}
